testvswinform/Properties/Settings.settings
testvswinform/bin/Debug/MySql.Data.dll
testvswinform/bin/Debug/OUR_MIFARE.dll
testvswinform/bin/Debug/portinit.ini
testvswinform/bin/Debug/snow.jpg
testvswinform/bin/Debug/testvswinform.exe
testvswinform/bin/Debug/testvswinform.exe.config
testvswinform/bin/Debug/testvswinform.pdb
testvswinform/bin/Debug/testvswinform.vshost.exe
testvswinform/bin/Debug/testvswinform.vshost.exe.config
testvswinform/bin/Debug/testvswinform.vshost.exe.manifest
testvswinform/bin/Release/OUR_MIFARE.dll
testvswinform/bin/Release/portinit.ini
testvswinform/obj/Debug/DesignTimeResolveAssemblyReferences.cache
testvswinform/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
testvswinform/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
testvswinform/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
testvswinform/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
testvswinform/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
testvswinform/obj/Debug/testvswinform.Properties.Resources.resources
testvswinform/obj/Debug/testvswinform.View.Create.resources
testvswinform/obj/Debug/testvswinform.View.MachineManageDialog.resources
testvswinform/obj/Debug/testvswinform.View.Main.resources
testvswinform/obj/Debug/testvswinform.View.MaterialManageDialog.resources
testvswinform/obj/Debug/testvswinform.View.SystemSetting.resources
testvswinform/obj/Debug/testvswinform.View.TestCard.resources
testvswinform/obj/Debug/testvswinform.View.TunnelManageDialog.resources
testvswinform/obj/Debug/testvswinform.View.User.resources
testvswinform/obj/Debug/testvswinform.csproj.GenerateResource.Cache
testvswinform/obj/Debug/testvswinform.csprojResolveAssemblyReference.cache
testvswinform/obj/Debug/testvswinform.exe
testvswinform/obj/Debug/testvswinform.login.resources
testvswinform/obj/Debug/testvswinform.pdb
